name: Build For Linux

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}

      - name: Set up GCC
        uses: egor-tensin/setup-gcc@v1
        with:
          version: latest
          platform: x64

      - name: Install Dependencies
        run: sudo apt-get install -y libfuse-dev zlib1g-dev

      - name: Configure
        run: cmake -S standalone -B build/standalone

      - name: Build
        run: cmake --build build/standalone -j3
